@media (max-width: 1373px) {
    body {
        background-position: 0 center;
        text-align: center;
        margin-bottom: 20px;
    }

    header {
        text-align: left;
    }

    footer {
        justify-content: center;
    }
}

@media (max-width: 1160px) {
    body {
        background: url(../images/bg-mobile.svg) hsl(257, 40%, 49%) center 0/contain no-repeat;
    }

    @media (max-width: 576px) {
        main {
            gap: 20px;
        }

        main .info h2 {
            font-size: 1.6rem;
        }

        main .info .description {
            font-size: 1.1rem;
            margin-top: 10px;
        }
    }
}